.navbar
{
    display: flex;
    justify-content: center;
}

ul > li
{
    display: inline;
    padding: 5vh;
    justify-content: center;
}

a
{
    font-family: title;
    font-size: 2.5vh;
    text-decoration: none;
    color: rgb(182, 134, 0);
}

a:hover
{
    color: rgb(158, 116, 0);
}

a:active
{
    color: rgb(221, 206, 0);
}