pre
{
    color: rgb(216, 214, 214);
    font-family: roboto;
    text-align: center;
}

.main-container
{
    border-radius: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container
{
    border-radius: 10px;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2
{
    border-radius: 10px;
    width: 90vh;
}