<div class="container">
    <pre>Purple Hills is a Synth Rock duo formed in 2017, in Tirana, Albania by Glenis Tivari and Trebla Muso. 
        Their sound is characterized by a blend of different genres of Rock and Electronic music, 
        creating a unique sound with elements of Synthwave, Rock, 
        Metal, Downtempo, and Experimental. They released their debut album, "Escapism" on the 18th of December 2021, 
        a completely independent and original 
        project written and produced by the duo themselves. </pre>
</div>
