pre
{
    color: rgb(216, 214, 214);
    font-family: roboto;
    text-align: center;
}

.main-container
{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container
{
}

.description
{
    background-color: rgba(137, 43, 226, 0.651);
}