html, body
{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: auto;
    background-image: url('../Purplehills.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}