html, body
{
    height: 100%;
    width: auto;
    background-image: url('../Purplehills.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}