/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: title;
    src: url('MochiyPopPOne-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../Roboto-Regular.ttf');
}

html
{background-color: black;}